.loginForm{  
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}

.loginLable{
    
}

.loginInput{
    margin: 0px 0px 10px 0px
}

.loginButton{
    top: 10px;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.errorM{
    color: red;
}