.row:after{
    content: "";
    display: table;
    clear: both;
}

.settingsBlock{
    border: 1px solid black;
    border-collapse: collapse;
    width: calc(33.33% - 3px);
    float: left;
}

.settingsHeader{
    float: left;
    margin: 5px;
    font-size: 20px;
}

@media (max-width: 800px){
    .settingsBlock{
        width: 100%;
    }
}

.buttonAdd{
    float: right;
    width: 25px;
    padding: 5px;
}

.formForm{
    width: 100%;
    clear: both;
    margin: 5px;
}

.formHead{
    
}

.formLable{
    float: left;
    width: 50px;
    padding: 5px;
}

.formInput{
    float: left;
    width: calc(100% - 75px);
    padding: 2.5px;
    margin: 2.5px;
}

.formSubmit{
    
}

.formReset{
    
}

/*Tabelle*/
.tableOutput{
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

.tableOutput tr:nth-child(even){background-color: #f2f2f2;}

.tableOutput th, .tableOutput td{
    border: 1px solid #ddd;
}

.tableOutput th{
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}

.tableOutput td{
    padding: 6px;
}

.tableOutput img{
    height: 25px;
}

.tableOutput td:nth-last-child(2), td:nth-last-child(1) {
    width: 0px;
    padding: 5px;
}